services:
  article-service:
    build:
      context: .
      dockerfile: ArticleService/Dockerfile
    image: article-service:latest
    depends_on:
      article-db:
        condition: service_started
      rmq:
        condition: service_healthy
    ports: 
      - "5000:8080"
      
  article-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - article-data:/var/opt/mssql
      
  comment-service:
    build:
      context: .
      dockerfile: CommentService/Dockerfile
    image: comment-service:latest
    depends_on:
      - comment-db
    ports:
      - "5001:8080"

  comment-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - comment-data:/var/opt/mssql
      
  profanity-service:
    build:
      context: .
      dockerfile: ProfanityService/Dockerfile
    image: profanity-service:latest
    depends_on:
      - profanity-db
    ports:
      - "5002:8080"
      
  profanity-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - profanity-data:/var/opt/mssql
      
  publisher-service:
    build:
      context: .
      dockerfile: PublisherService/Dockerfile
    image: publisher-service:latest
    depends_on:
      rmq:
        condition: service_healthy
          
  # Prometheus service
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - article-service
      - comment-service

  # Grafana service
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
        - grafana-data:/var/lib/grafana
  
  seq:
    image: datalust/seq
    ports: 
      - 5341:5341
      - 5342:80
    volumes:
      - rps_seq_data:/data
    environment:
      - ACCEPT_EULA=Y
      - SEQ_PASSWORD=admin
      - SEQ_USER=admin
      
  zipkin:
    image: openzipkin/zipkin
    ports:
      - 9411:9411
    environment:
      - STORAGE_TYPE=mysql
      - MYSQL_HOST=zipkin-storage
      - MYSQL_USER=zipkin
      - MYSQL_PASS=zipkin
    depends_on:
      - zipkin-storage
      
  zipkin-storage:
    image: openzipkin/zipkin-mysql
    ports:
      - 3306:3306
    volumes:
      - zipkin_data:/mysql/data
          
  rmq:
    image: rabbitmq:3-management
    container_name: rmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "check_running" ]
      interval: 5s
      timeout: 10s
      retries: 5

volumes:
  article-data:
  comment-data:
  profanity-data:
  grafana-data:
  rps_seq_data:
  zipkin_data:

      
    