services:
  article-service:
    build:
      context: .
      dockerfile: ArticleService/Dockerfile
    image: article-service:latest
    depends_on:
      - article-db
    ports: 
      - "5000:8080"
    deploy:
      replicas: 3
      
  article-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - article-data:/var/opt/mssql
      
  comment-service:
    build:
      context: .
      dockerfile: CommentService/Dockerfile
    image: comment-service:latest
    depends_on:
      - comment-db
    ports:
      - "5001:8080"

  comment-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - comment-data:/var/opt/mssql
      
  profanity-service:
    build:
      context: .
      dockerfile: ProfanityService/Dockerfile
    image: profanity-service:latest
    depends_on:
      - profanity-db
    ports:
      - "5002:8080"
      
  profanity-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - profanity-data:/var/opt/mssql
      
  publisher-service:
    build:
      context: .
      dockerfile: PublisherService/Dockerfile
    image: publisher-service:latest
    depends_on:
      - publisher-db
    ports:
      - "5003:8080"

  publisher-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - publisher-data:/var/opt/mssql
        
  # Prometheus service
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - article-service
      - comment-service

  # Grafana service
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
        - grafana-data:/var/lib/grafana

volumes:
  article-data:
  comment-data:
  profanity-data:
  publisher-data:
  grafana-data:

      
    